---
import Base from "../../../layouts/Base.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import SideNav from "../../../components/SideNav.astro";
import IMG_01 from "../../../assets/portraits/01_portraits.webp";
import IMG_02 from "../../../assets/portraits/02_portraits.webp";
import IMG_03 from "../../../assets/portraits/03_portraits.webp";
import IMG_04 from "../../../assets/portraits/04_portraits.webp";
import IMG_05 from "../../../assets/portraits/05_portraits.webp";
import IMG_06 from "../../../assets/portraits/06_portraits.webp";
import IMG_07 from "../../../assets/portraits/07_portraits.webp";
import IMG_08 from "../../../assets/portraits/08_portraits.webp";
import IMG_09 from "../../../assets/portraits/09_portraits.webp";
import IMG_10 from "../../../assets/portraits/10_portraits.webp";
import IMG_11 from "../../../assets/portraits/11_portraits.webp";
import IMG_12 from "../../../assets/portraits/12_portraits.webp";
import IMG_13 from "../../../assets/portraits/13_portraits.webp";
import IMG_14 from "../../../assets/portraits/14_portraits.webp";
import IMG_15 from "../../../assets/portraits/15_portraits.webp";
import IMG_16 from "../../../assets/portraits/16_portraits.webp";

const images = [
  { src: IMG_01, alt: "Alicia, #1" },
  { src: IMG_02, alt: "Brenda" },
  { src: IMG_03, alt: "Jess" },
  { src: IMG_04, alt: "Peter #1" },
  { src: IMG_05, alt: "Tai" },
  { src: IMG_06, alt: "Charles" },
  { src: IMG_07, alt: "Alicia #2" },
  { src: IMG_08, alt: "Vicky" },
  { src: IMG_09, alt: "Olivia" },
  { src: IMG_10, alt: "Olivia & Danika" },
  { src: IMG_11, alt: "Kumari" },
  { src: IMG_12, alt: "Peter #2" },
  { src: IMG_13, alt: "Tai, High Key" },
  { src: IMG_14, alt: "Vince" },
  { src: IMG_15, alt: "Zack" },
  { src: IMG_16, alt: "Self Portrait" },
];
const pageTitle = "Portraits";

---

<Base title={pageTitle}>
  

  <div class="mx-4 xl:mx-8 flex">
    <aside class="hidden lg:block w-64 flex-shrink-0">
     
      <SideNav />
      
    </aside>
    <div>
      <Breadcrumbs crumb={pageTitle} />
      <div class="pswp-gallery columns-1 md:columns-2 2xl:columns-3 gap-6 space-y-6 mx-4 xl:mx-8" id="botanicalsGallery">
        {
          images.map((image) => (
            <div class="break-inside-avoid mb-6">
              <a
                class="block"
                href={image.src.src}
                data-pswp-width={image.src.width}
                data-pswp-height={image.src.height}
                target="_blank"
              >
                <img
                  class="w-full block"
                  src={image.src.src}
                  alt={image.alt}
                  width={image.src.width}
                  height={image.src.height}
                />
              </a>
              <!-- Caption below the image -->
              <p class="text-sm text-left mt-2 text-gray-600">{image.alt}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>

</Base>