---
import Base from "../../../layouts/Base.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import { Image } from "astro:assets";
import floral from "../../../assets/botanicals/Flora12_IMG_9876.webp";
import IMG_0026C from "../../../assets/botanicals/IMG_0026C.webp";
import IMG_0057 from "../../../assets/botanicals/IMG_0057.webp";
import IMG_0065C from "../../../assets/botanicals/IMG_0065C.webp";
import IMG_0090C from "../../../assets/botanicals/IMG_0090C.webp";
import IMG_1538A from "../../../assets/botanicals/IMG_1538A.webp";
import IMG_1543 from "../../../assets/botanicals/IMG_1543.webp";
import IMG_4643D from "../../../assets/botanicals/IMG_4643D.webp";
import IMG_9981 from "../../../assets/botanicals/IMG_9981.webp";
import IMG_9987 from "../../../assets/botanicals/IMG_9987.webp";
import RootRumba from "../../../assets/botanicals/RootRumba.webp";

const images = [
  { src: floral, alt: "Flora12 IMG 9876" },
  { src: IMG_0026C, alt: "IMG 0026C" },
  { src: IMG_0057, alt: "IMG 0057" },
  { src: IMG_0065C, alt: "IMG 0065C" },
  { src: IMG_0090C, alt: "IMG 0090C" },
  { src: IMG_1538A, alt: "IMG 1538A" },
  { src: IMG_1543, alt: "IMG 1543" },
  { src: IMG_4643D, alt: "IMG 4643D" },
  { src: IMG_9981, alt: "IMG 9981" },
  { src: IMG_9987, alt: "IMG 9987" },
  { src: RootRumba, alt: "Root Rumba" },
];
---

<Base title="Botanicals">
  <Breadcrumbs crumb="Botanicals" />
  <div class="pswp-gallery columns-1 md:columns-2 2xl:columns-3 gap-6 space-y-6 mx-4 xl:mx-8" id="botanicalsGallery">
    {
      images.map((image) => (
        <div class="break-inside-avoid mb-6">
          <a
            class="block"
            href={image.src.src}
            data-pswp-width={image.src.width}
            data-pswp-height={image.src.height}
            target="_blank"
          >
            <img
              class="w-full block"
              src={image.src.src}
              alt={image.alt}
              width={image.src.width}
              height={image.src.height}
            />
          </a>
          <!-- Caption below the image -->
          <p class="text-sm text-left mt-2 text-gray-600">{image.alt}</p>
        </div>
      ))
    }
  </div>
</Base>