---
import Base from "../../../layouts/Base.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import { Image } from "astro:assets";
import floral from "../../../assets/botanicals/Flora12_IMG_9876.webp";
import IMG_0026C from "../../../assets/botanicals/IMG_0026C.webp";
import IMG_0057 from "../../../assets/botanicals/IMG_0057.webp";
import IMG_0065C from "../../../assets/botanicals/IMG_0065C.webp";
import IMG_0090C from "../../../assets/botanicals/IMG_0090C.webp";
import IMG_1538A from "../../../assets/botanicals/IMG_1538A.webp";
import IMG_1543 from "../../../assets/botanicals/IMG_1543.webp";
import IMG_4643D from "../../../assets/botanicals/IMG_4643D.webp";
import IMG_9981 from "../../../assets/botanicals/IMG_9981.webp";
import IMG_9987 from "../../../assets/botanicals/IMG_9987.webp";
import RootRumba from "../../../assets/botanicals/RootRumba.webp";
---

<Base title="Botanicals">
  <Breadcrumbs crumb="Botanicals" />

  <div
    id="my-gallery"
    class="mx-4 xl:mx-8 columns-1 md:columns-2 2xl:columns-3 gap-12"
  >
    <a
      class="contents"
      data-pswp-width="1000"
      data-pswp-height="1000"
      href={floral}
      alt="Floral Image"
    >
      <Image
        width="1000"
        height="1000"
        loading="lazy"
        decoding="async"
        class="object-cover"
        src={floral}
        alt="Floral Image"
      />
    </a>

    <a
      class="contents"
      data-pswp-width="1280"
      data-pswp-height="1920"
      href={IMG_0026C}
      alt="Portrait Image"
    >
      <Image
        width="1280"
        height="1920"
        loading="lazy"
        decoding="async"
        class="object-cover"
        src={IMG_0026C}
        alt="Portrait Image"
      />
    </a>
  </div>
  <div>
    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1242"
        href={IMG_0057}
        alt="Landscape Image"
      >
        <Image
          width="1920"
          height="1242"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src={IMG_0057}
          alt="Landscape Image"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Landscape Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1016"
        href={IMG_0065C}
        alt="Landscape Image"
      >
        <Image
          width="1920"
          height="1016"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src={IMG_0065C}
          alt="Landscape Image"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Landscape Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1225"
        href={IMG_0090C}
        alt="Landscape Image"
      >
        <Image
          width="1920"
          height="1225"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src={IMG_0090C}
          alt="Landscape Image"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Landscape Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1280"
        href={IMG_1538A}
        alt="Landscape Image"
      >
        <Image
          width="1920"
          height="1280"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src={IMG_1538A}
          alt="Landscape Image"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Landscape Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1280"
        href={IMG_1543}
        alt="Landscape Image"
      >
        <Image
          width="1920"
          height="1280"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src={IMG_1543}
          alt="Landscape Image"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Landscape Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1242"
        data-pswp-height="1920"
        href={IMG_4643D}
        alt="Portrait Image"
      >
        <Image
          width="1242"
          height="1920"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src={IMG_4643D}
          alt="Portrait Image"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Portrait Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1920"
        href={IMG_9981}
        alt="Square Image"
      >
        <Image
          width="1920"
          height="1920"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src={IMG_9981}
          alt="Square Image"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Square Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1920"
        href={IMG_9987}
        alt="Square Image"
      >
        <Image
          width="1920"
          height="1920"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src={IMG_9987}
          alt="Square Image"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Square Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1509"
        data-pswp-height="1920"
        href={RootRumba}
        alt="Portrait Image"
      >
        <Image
          width="1509"
          height="1920"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src={RootRumba}
          alt="Portrait Image"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Portrait Image</p>
    </div>
  </div>
</Base>
