---
import Base from "../../../layouts/Base.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import SideNav from "../../../components/SideNav.astro";
import IMG_01 from "../../../assets/people/01_people.webp";
import IMG_02 from "../../../assets/people/02_people.webp";
import IMG_03 from "../../../assets/people/03_people.webp";
import IMG_04 from "../../../assets/people/04_people.webp";
import IMG_05 from "../../../assets/people/05_people.webp";
import IMG_06 from "../../../assets/people/06_people.webp";
import IMG_07 from "../../../assets/people/07_people.webp";
import IMG_08 from "../../../assets/people/08_people.webp";
import IMG_09 from "../../../assets/people/09_people.webp";
import IMG_10 from "../../../assets/people/10_people.webp";
import IMG_11 from "../../../assets/people/11_people.webp";
import IMG_12 from "../../../assets/people/12_people.webp";
import IMG_13 from "../../../assets/people/13_people.webp";
import IMG_14 from "../../../assets/people/14_people.webp";
import IMG_15 from "../../../assets/people/15_people.webp";
import IMG_16 from "../../../assets/people/16_people.webp";
import CountyFair from "../../../assets/people/County Fair Attraction.webp";
import NoSmoking from "../../../assets/people/No Smoking.webp";
import WeddingPrep from "../../../assets/people/Wedding Preparation, Prague.webp";
import NextGallery from "../../../components/NextGallery.astro";

const images = [
  { src: IMG_01, alt: "Resting in Doorway, San Miguel de Allende, Mexico, 2024", width: 960, height: 1200 },
  { src: IMG_07, alt: "Old Timey, San Francisco, 2019", width: 1920, height: 1468 },
  { src: IMG_12, alt: "Woman With Monet's Water Lilies, Paris 2021", width: 1920, height: 1280 },
  { src: CountyFair, alt: "County Fair Attraction - 2024", width: 2000, height: 1333 },
  { src: IMG_02, alt: "Old Friends at the Park, 2017", width: 1920, height: 1345 },
  { src: NoSmoking, alt: "No Smoking - 2024", width: 1212, height: 1733 },
  { src: IMG_08, alt: "Cha Cha Cha Club, Mission District San Francisco, 2021", width: 1920, height: 1920 },
  { src: IMG_14, alt: "Looking Elsewhere, Paris, 2021", width: 1920, height: 1269 },
  { src: IMG_11, alt: "Young Hawaiian Dancers", width: 1400, height: 933 },
  { src: IMG_04, alt: "Philippe, Guardian of the Fortress", width: 1920, height: 1920 },
  { src: IMG_03, alt: "Woman Shopper, San Miguel de Allende, Mexico, 2024", width: 1536, height: 1920 },
  { src: IMG_16, alt: "Referee", width: 1920, height: 1280 },
  { src: IMG_13, alt: "Reactions", width: 1920, height: 1201 },
  { src: IMG_06, alt: "Ink Bros", width: 1920, height: 1230 },
  { src: IMG_05, alt: "Denizen, Lower East Side NYC, 2018", width: 1920, height: 1555 },
  { src: IMG_10, alt: "Juice Boxes", width: 1647, height: 1169 },
  { src: IMG_15, alt: "Hug", width: 1920, height: 1280 },
  { src: WeddingPrep, alt: "Wedding Preparation, Prague - 2024", width: 2000, height: 1299 },
  { src: IMG_09, alt: "Blue Hair, Basílica de la Sagrada Família, Barcelona, 2023", width: 1920, height: 1280 },
];
const pageTitle = "People";


---

<Base title={pageTitle}>
  

  <div class="mt-12 mx-4 xl:mx-8 flex">
    <aside class="hidden lg:block w-64 flex-shrink-0">
     <SideNav />
      
    </aside>
    <div>
      <Breadcrumbs crumb={pageTitle} />
      <div class="pswp-gallery columns-1 md:columns-2 2xl:columns-3 gap-6 space-y-6 mx-4 xl:mx-8" id="botanicalsGallery">
        {
          images.map((image) => (
            <div class="break-inside-avoid mb-6">
              <a
                class="block"
                href={image.src.src}
                data-pswp-width={image.src.width}
                data-pswp-height={image.src.height}
                target="_blank"
              >
                <div class="w-full h-full overflow-hidden">
  <img
    class="block w-full h-full object-cover transition-transform duration-500 ease-in-out hover:scale-105"
    src={image.src.src}
    alt={image.alt}
    width={image.src.width}
    height={image.src.height}
  />
</div>
              </a>
              <!-- Caption below the image -->
              <p class="text-sm text-left mt-2 text-gray-600">{image.alt}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
<NextGallery url="/galleries/botanicals" />
</Base>