---
import Base from "../../../layouts/Base.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import SideNav from "../../../components/SideNav.astro";
import IMG_01 from "../../../assets/people/01_people.webp";
import IMG_02 from "../../../assets/people/02_people.webp";
import IMG_03 from "../../../assets/people/03_people.webp";
import IMG_04 from "../../../assets/people/04_people.webp";
import IMG_05 from "../../../assets/people/05_people.webp";
import IMG_06 from "../../../assets/people/06_people.webp";
import IMG_07 from "../../../assets/people/07_people.webp";
import IMG_08 from "../../../assets/people/08_people.webp";
import IMG_09 from "../../../assets/people/09_people.webp";
import IMG_10 from "../../../assets/people/10_people.webp";
import IMG_11 from "../../../assets/people/11_people.webp";
import IMG_12 from "../../../assets/people/12_people.webp";
import IMG_13 from "../../../assets/people/13_people.webp";
import IMG_14 from "../../../assets/people/14_people.webp";
import IMG_15 from "../../../assets/people/15_people.webp";
import IMG_16 from "../../../assets/people/16_people.webp";

const images = [
  { src: IMG_01, alt: "Woman in Doorway - San Miguel de Allende, Mexico, 2023" },
  { src: IMG_02, alt: "Old Friends - Concert In The Park, San Mateo, CA, 2013" },
  { src: IMG_03, alt: "Woman Resting on Curb - San Miguel de Allende, Mexico, 2023" },
  { src: IMG_04, alt: "Philippe - Gatekeeper of Fort de Buoux, France, 2022" },
  { src: IMG_05, alt: "Lower East Side Character - 2016" },
  { src: IMG_06, alt: "Tattoo Buddies - Cha Cha Cha Bar, San Francisco, 2018" },
  { src: IMG_07, alt: "The Frisky Frolics - Cha Cha Cha Bar, San Francisco, 2018" },
  { src: IMG_08, alt: "Grin - Bissap Baobab Bar, San Francisco, 2019" },
  { src: IMG_09, alt: "Blue Hair - Basílica de la Sagrada Família, Barcelona, 2023" },
  { src: IMG_10, alt: "100% Juice - San Francisco, 2017" },
  { src: IMG_11, alt: "Polynesian Dancers - San Francisco, 2020" },
  { src: IMG_12, alt: "Stare - Musee de L'Orangerie, Paris - 2023" },
  { src: IMG_13, alt: "Yawn - Musee de L'Orangerie, Paris - 2023" },
  { src: IMG_14, alt: "Screentime - Musee de L'Orangerie, Paris - 2023" },
  { src: IMG_15, alt: "Clutch - Pride, San Francisco, 2016" },
  { src: IMG_16, alt: "Referee - Monterey, California, 1999" },
];
const pageTitle = "People";

---

<Base title={pageTitle}>
  

  <div class="mt-12 mx-4 xl:mx-8 flex">
    <aside class="hidden lg:block w-64 flex-shrink-0">
     <SideNav />
      
    </aside>
    <div>
      <Breadcrumbs crumb={pageTitle} />
      <div class="pswp-gallery columns-1 md:columns-2 2xl:columns-3 gap-6 space-y-6 mx-4 xl:mx-8" id="botanicalsGallery">
        {
          images.map((image) => (
            <div class="break-inside-avoid mb-6">
              <a
                class="block"
                href={image.src.src}
                data-pswp-width={image.src.width}
                data-pswp-height={image.src.height}
                target="_blank"
              >
                <img
                  class="w-full block"
                  src={image.src.src}
                  alt={image.alt}
                  width={image.src.width}
                  height={image.src.height}
                />
              </a>
              <!-- Caption below the image -->
              <p class="text-sm text-left mt-2 text-gray-600">{image.alt}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>

</Base>