---
import Base from "../../../layouts/Base.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import SideNav from "../../../components/SideNav.astro";
import IMG_01 from "../../../assets/2004-dnc/01_2004-dnc.webp";
import IMG_02 from "../../../assets/2004-dnc/02_2004-dnc.webp";
import IMG_03 from "../../../assets/2004-dnc/03_2004-dnc.webp";
import IMG_04 from "../../../assets/2004-dnc/04_2004-dnc.webp";
import IMG_05 from "../../../assets/2004-dnc/05_2004-dnc.webp";
import IMG_06 from "../../../assets/2004-dnc/06_2004-dnc.webp";
import IMG_07 from "../../../assets/2004-dnc/07_2004-dnc.webp";
import IMG_08 from "../../../assets/2004-dnc/08_2004-dnc.webp";
import IMG_09 from "../../../assets/2004-dnc/09_2004-dnc.webp";
import IMG_10 from "../../../assets/2004-dnc/10_2004-dnc.webp";
import IMG_11 from "../../../assets/2004-dnc/11_2004-dnc.webp";
import IMG_12 from "../../../assets/2004-dnc/12_2004-dnc.webp";
import IMG_13 from "../../../assets/2004-dnc/13_2004-dnc.webp";
import IMG_14 from "../../../assets/2004-dnc/14_2004-dnc.webp";
import IMG_15 from "../../../assets/2004-dnc/15_2004-dnc.webp";
import IMG_16 from "../../../assets/2004-dnc/16_2004-dnc.webp";
import NextGallery from "../../../components/NextGallery.astro";

const images = [
  { src: IMG_01, alt: "Candidate John Kerry" },
  { src: IMG_02, alt: "Bill Clinton with Huma Abedin and Patti LaBelle" },
  { src: IMG_03, alt: "Al and Tipper Gore" },
  { src: IMG_04, alt: "Jesse Jackson" },
  { src: IMG_05, alt: "The Press Pressing" },
  { src: IMG_06, alt: "Nancy Pelosi" },
  { src: IMG_07, alt: "Sikh Delegate" },
  { src: IMG_08, alt: "T.V. Newsman Dan Rather" },
  { src: IMG_09, alt: "Biden Family" },
  { src: IMG_10, alt: "Peace Now" },
  { src: IMG_11, alt: "Fuck the War" },
  { src: IMG_12, alt: "Arrest Bush" },
  { src: IMG_13, alt: "Cop's Buddy (016)" },
  { src: IMG_14, alt: "Michael Dukakis" },
  { src: IMG_15, alt: "Cop's Worry" },
  { src: IMG_16, alt: "Lady Liberty" },
];
const pageTitle = "2004 Democratic Convention";

---

<Base title={pageTitle}>
  

  <div class="mt-12 mx-4 xl:mx-8 flex">
    <aside class="hidden lg:block w-64 flex-shrink-0">
     <SideNav />
      
    </aside>
    <div>
      <Breadcrumbs crumb={pageTitle} />
      <div>
      <p
          class="text-xl font-light text-stone-500 tracking-xl my-8 mx-4 xl:mx-8"
        >
        The convention was held in late July at the Fleet Center in Boston. I was interested in getting close-up portraits of anyone interesting, especially the famous...and the infamous. The Bill Clinton image was luck. I was hanging out in an area where a lot of ‘players’ passed through on their way to private seating or just to hang out and do the meet & greet thing. On day two during a late afternoon lull, an electric buzz got going from the far end of the hall. It took a few minutes before those of us at the other end realized it was the former president. This was 6 years after the Monica Lewinsky story broke and he was projecting quite the rock-star aura. As he came my way, the crowds were pressing in, calling out hellos, reaching for a handshake, etc. I managed to get a clear space in front of him just before he took a turn down an off-limits hallway. Huma Abedin, a high-level staffer for both Bill and later Hilary (years later to famously suffer indignities not of her making) is the lead. Closely behind, oddly enough, is the famed singer Patti LaBelle. Beautiful young women up close, front and rear…Sooo Bill Clinton in those days. The expression on the former President’s face seems to say it all.
      </p>
      <p
      class="text-xl font-light text-stone-500 tracking-xl my-8 mx-4 xl:mx-8"
    >
    I’m also fond of the ‘Lady Liberty’ image, mainly because she was also captured by none other than Richard Avedon. Her name is Caitlin Cianfleone. She was a Dennis Kucinich delegate. I was unaware of Avedon’s presence at the convention (Might his shooting set-up been out in a hallway or an open room where I could have seen him at work...???) To make it worse, I was not aware of his “Democracy 2004” portfolio for several years. It included a classic American West-style close-up portrait of Caitlin, the Convention’s Lady Liberty. His image is amazing of course...vs. my relatively boring shot from a distance. I’m not sure why I didn’t approach her for a close-up. 
  </p>
  <p
  class="text-xl font-light text-stone-500 tracking-xl my-8 mx-4 xl:mx-8"
>
I gave the blue tint to the Michael Dukakis image because it suggests an old school ‘newsy’ vibe that fits his persona. I got to spend a few minutes talking with him at the Convention. My wife, Vicky Rideout (she headed up the convention speech operation…thus my special access pass) was Dukakis’ Issues Director for his own presidential campaign in 1998. His and Kitty’s daughter Kara lives in our neighborhood. Years later we were invited to a small dinner. I found him to be a sincerely warm, genuine, and brilliant guy. Kitty also was welcoming and gracious. Kara admired the photo and asked me for a print. I don’t know if her Dad has ever seen it. 
</p>
</div>
      <div class="pswp-gallery columns-1 md:columns-2 2xl:columns-3 gap-6 space-y-6 mx-4 xl:mx-8" id="botanicalsGallery">
        {
          images.map((image) => (
            <div class="break-inside-avoid mb-6">
              <a
                class="block"
                href={image.src.src}
                data-pswp-width={image.src.width}
                data-pswp-height={image.src.height}
                target="_blank"
              >
                <img
                  class="w-full block"
                  src={image.src.src}
                  alt={image.alt}
                  width={image.src.width}
                  height={image.src.height}
                />
              </a>
              <!-- Caption below the image -->
              <p class="text-sm text-left mt-2 text-gray-600">{image.alt}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
<NextGallery url="/galleries/holy-joe" />
</Base>